.btn {
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: "Arial";
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-primary {
  color: hsl(200, 100%, 20%);
  background-color: hsl(200, 100%, 83%);
}

.btn-primary:hover {
  color: hsl(200, 100%, 10%);
  background-color: hsl(200, 100%, 73%);
}

.btn-danger {
  color: #000;
  background-color: hsl(calc(200 - 180), 100%, 83%);
}

.btn-danger:hover {
  color: #000;
  background-color: hsl(calc(200 - 180), 100%, 73%);
}

.btn-row {
  display: flex;
  align-items: flex-start;
}

.btn-row > * {
  margin-left: 1rem;
}

.btn-row > *:first-child {
  margin-left: 0;
}
