:root {
  --nav-title: 3rem;
  --nav-title-weight: bold;
}

.header-title {
  color: hsl(200, 100%, 87%);
  text-decoration: none;
  font-size: var(--nav-title);
  font-weight: var(--nav-title-weight);
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li {
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
  color: hsl(200, 100%, 87%);
  font-weight: 300;
  padding: 1rem;
}

.header-nav li a:hover,
.header-title:hover {
  color: #fff;
}
